@tailwind base;
@tailwind components;
@tailwind utilities;  
/* Image Grid */
.image-grid {
    padding: 12px;
  }
  
  .image-row {
    display: flex;
  }
  
  .image-row .image {
    margin: 14px;
    height: 240px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3),
      0 6px 20px rgba(0, 0, 0, 0.15),
      0 6px 20px rgba(0, 0, 0, 0.7);
  }
  
  .image-01 {
    background-image: url('https://i.ibb.co/LnyPYYm/full-shot-kids-team-posing-23-2149457265.jpg');
    flex: 1;
  }
  
  .image-02 {
    background-image: url('https://i.ibb.co/KNV8MFy/men-playing-rugby-field-23-2150062005.jpg');
    flex: 1;
  }
  
  .image-03 {
    background-image: url('https://i.ibb.co/WGbdPHz/low-angle-team-putting-hands-together-23-2149457259.jpg');
    flex: 2;
  }
  
  .image-04 {
    background-image: url('https://i.ibb.co/kmcG4YW/young-basketball-players-take-break-after-game-183219-2426.jpg');
    flex: 1;
  }
  
  .image-05 {
    background-image: url('https://i.ibb.co/k5tKvHb/portrait-group-girls-boy-as-tennis-players-holding-tennis-rackets-against-green-grass-outdoor-court.jpg');
    flex: 2;
  }
  
  /* Animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 400px) {
    .image-row {
      flex-direction: column;
    }
  
    .image-row .image {
      flex-basis: auto;
    }
  }
  

  /* body {
    --black: #111111;
    --white: #fdfdfd;
    --green: #22cc88;
    --blue: #0055ff;
    --purple: #8855ff;
    --red: #ff0055;
    --orange: #ee4444;
    --yellow: #ffcc00;
    --mustard: #ffaa00;
  
    --background: var(--white);
    --accent: var(--black);
  
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--accent);
    padding-bottom: 100px;
  }
  
  * {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
  } */
  
 
  

  
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
  }
  